<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="grey-bg">
    <%- include('nav.ejs')%>
    <script src="https://kit.fontawesome.com/e7d0c02666.js" crossorigin="anonymous"></script>
    <div class="list-header"><span>마이 페이지</span></div>
    <div class="detail-bg" style="font-size: 18px;">
        <!-- 프로필 섹션 -->
            <label class="profile-img-container" for="profile-img-btn">
                <img class="profile-img" src="/images/profile.png">
                <i class="fa-solid fa-plus img-plus-btn"></i>
            </label>
            <input type="file" name="profileImg" id="profile-img-btn" style="display: none;" accept="image/*">
            <div>
                <div style="width: 20%; min-width: 200px; margin: auto; margin-top: 20px; text-align: center; font-size: 24px;
                            margin-bottom: 20px;">
                    유저이름
                </div>
                    
                
            </div>

        <div style="width: 200px; margin: auto; text-align: center;">
            <div style="margin-bottom: 10px;">이메일:<br> 유저 이메일</div>
            <div style="margin-bottom: 10px;">가입 날짜: 유저 가입날짜</div>
            <div>작성한 글</div>
        </div>
    </div>
</body>
</html>
