* {
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif; 
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  overflow-wrap: break-word;
}

html {
  /* 아이폰/사파리에서 글자 크기 자동 조절 방지 */
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  /* iOS 사파리에서 가로 전환 시 글자 크기가 멋대로 커지는 것 방지 */
  -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit;        /* 기본 파란색 대신 부모의 글자색 상속 */
}

/* 마우스 오버(호버) 시 스타일도 유지하고 싶을 때 */
a:hover {
    text-decoration: none;
    color: inherit;
}

.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background : white;
  position: relative;
  width: 100vw;
  min-width: 350px;
}

.nav a {
  margin-right: 15px;
}
.logo {
  font-weight: bold;
}

.grey-bg {
  background: #eee;
}

.white-bg {
  background: white;
  margin: 20px;
  margin-top: 5px;
  border-radius: 5px;
  width: 60%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.no-list {
  font-size: 20px;
  text-align: center;
}

.list-box {
  padding : 15px;
  min-height: 130px;
  max-height: 200px;
  overflow: hidden;
  border-bottom: 1px solid#eee;
  cursor: pointer;
  transition: all ease 0.25s;
}

.list-box:hover {
  background-color: rgba(0,0,0, 0.05);
}

.list-box h4{
  font-size: 18px;
  margin: 5px;
  margin-top: 8px;
  margin-bottom: 10px;
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
  white-space: nowrap; /* 줄바꿈 금지 */

}
.list-box p {
  width: 90%;
  font-size: 14px;
  margin: 5px;
  color: grey;
  white-space: nowrap; /* 줄바꿈 금지 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}

.form-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
  width: 60%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.write-title {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.write-content {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 400px;
  resize: none;
}

.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}

.detail-bg {
  background-color: white;
  padding: 20px 30px;
  margin-top: 10px;
  width: 60%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.detail-title {
  font-size: 22px;
  min-height: 60px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.detail-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

.detail-content {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  white-space: pre-wrap;
}

.page-btn-container {
  width: 50%;
  min-width: 350px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  bottom: 50px;
}

.page-btn {
  display: block;
  background-color: white;
  width: 30px;
  margin: 5px;
  aspect-ratio: 1 / 1;
  align-content: center;
  border-radius: 5px;
}

.register-input {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.register-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
  width :30%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.register-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}
.register-box p{
  margin: 0;
  margin-bottom: 5px;
}

.email-verify {
  margin-bottom: 3px;
  height: 40px;
  width: 23%;
  min-width: 70px;
  display: none;
  visibility: hidden;
}

.verify-code {
  margin-bottom: 3px;
  height: 40px;
  width: 23%;
  min-width: 70px;
  display: none;
  visibility: hidden;
}

.password-container {
  position: relative;
  height: auto;
}

.absolute{
  position: absolute;
}
.password-eye {
  top: 25%;
  right: 3%;
  font-size: 20px;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.list-header {
  width: 60%;
  min-width: 350px;
  height: 30px;
  background-color: white;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  align-content: center;
  font-size: 20px;
}

.go-to-register {
  margin-top: 20px;
  font-size: 15px;
  width: 200px;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.go-to-register a {
  text-decoration: underline;
}

.left-time {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.pw-condition {
  font-size: 14px;
  margin-top: 0;

}

.profile-img{
  display: block;
  border-radius: 50%;
  width: 100%;
  margin: auto;
  aspect-ratio: 1/1;
  object-fit: cover;  /* 이미지가 비율에 맞게 꽉 채워지도록 설정 */
  cursor: pointer;
  transition: all ease 0.25s;
}

.profile-img:hover {
  filter: brightness(60%);
}

.profile-img-others {
  display: block;
  border-radius: 50%;
  width: 100%;
  margin: auto;
  aspect-ratio: 1/1;
  object-fit: cover;  /* 이미지가 비율에 맞게 꽉 채워지도록 설정 */
  transition: all ease 0.25s;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}

.profile-img-container {
  display: block;
  width: 30%;
  min-width: 136px;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

.img-plus-btn {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  color: #eee;
  font-size: 40px;
  visibility: hidden;
  display: none;
  cursor: pointer;
}

.search-container {
  display: flex;
  width: 60%;
  min-width: 350px;
  height: 30px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 0;
  align-content: center;
  font-size: 20px;
}

.search-container input {
  height: 30px;
  width: 250px;
}

.search-btn {
  margin-left: 5px;
  height: 30px;
}
.list-profile-img-container {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 5px;
}

.list-profile-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.detail-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.detail-profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.comment-write {
  margin-top: 10px;
  padding : 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100px;
  resize: none;
}

.comment-container {
  width: 100%;
  min-height: 200px;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  display: none;
  visibility: hidden;
}

.comment-submit-btn {
    padding: 8px;
    border: none;
    background: lightgrey;
    border-radius: 5px;
}

.commentor-profile-img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.commentor-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.open-comment {
  margin-top: 20px;
  border: 1px solid rgb(0,0,0,0.7);
  border-radius: 3px;
  width: 90px;
  height: 30px;
  align-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.open-comment span {
  display: block;
  width: 83%;
  position: relative;
}

.open-comment span::after {
  content: "";
  display: block;
  position: absolute;
  height: 90%;
  width: 1px;
  background-color: black;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.comment-arrow {
  width: 15%;
}

.comment-box {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 5px;
  padding-top: none;
  position: relative;
}

.comment-box::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: black;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.comment-date {
  font-size: 13px;
  color: rgb(0,0,0,0.7);
}

.comment-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.comment-content {
  white-space: pre-wrap;
  margin-bottom: 0;
  margin-top: 8px;
}

.comment-menu {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.comment-menu-box {
  width: 50px;
  height: 60px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: none;
  visibility: hidden;
}

.comment-menu-btn {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 5px;
}

.comment-menu-btn:hover {
  background-color: rgba(0,0,0, 0.05);
}

.no-drag {
  -webkit-user-select: none;  /* 사파리 */
  -moz-user-select: none;     /* 파이어폭스 */
  -ms-user-select: none;      /* 익스플로러/엣지 */
  user-select: none;          /* 표준 */
}

.send-message-btn {
  width: 100px;
  height: 25px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-message-btn:hover {
  background-color: rgba(0,0,0, 0.1);
}

.chat-screen { 
  width: 100%;
  height: 100%; 
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 0;
}

.chat-box {
  display: flex; 
  width: 100%; 
  margin-bottom: 15px;
}

.chat-box span { 
  padding: 5px 10px; 
  background: #eee; 
  max-width: 45%; 
  word-break: break-all;   /* 2. 어떤 글자든 박스 끝에 닿으면 강제로 줄바꿈 */  
  overflow-wrap: break-word; /* 3. 너무 긴 단어(URL 등)는 쪼개서 줄바꿈 */
  white-space: pre-wrap;   /* 4. 유저가 입력한 엔터(줄바꿈)를 그대로 보여줌 */
  border-radius: 10px;
}

.mine { 
  justify-content: end; 
}

.chat-input {
  padding: 10px;
  border-radius: 5px;
  height: 35px;
  margin-right: 5px;
  flex: 1;
}

.chat-button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
  height: 35px;
  width: 50px;
}
.chat-list-box {
  padding : 10px;
  min-height: 90px;
  max-height: 200px;
  overflow: hidden;
  border-bottom: 1px solid#eee;
  cursor: pointer;
  transition: all ease 0.25s;
  align-content: center;
  transition: all 0.25s ease;
}

.chat-list-box:hover {
  background-color: rgba(0,0,0, 0.05);
}

.chat-list-header {
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}

.chat-list-log-box {
  color: rgba(0,0,0,0.4);
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-list-log {
  display: inline-block;
  max-width: 180px;
  vertical-align: bottom  ;
  white-space: nowrap; /* 줄바꿈 금지 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}

.chat-list-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat-list-profile-img img {
  width: 60px;
  height: 60px; 
  object-fit: cover;  /* 이미지가 비율에 맞게 꽉 채워지도록 설정 */
  border-radius: 50%;
}

.chat-start-time {
  text-align: center;
  color: rgba(0,0,0, 0.4);
}

.chat-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chat-profile-img img {
  display: block;
  border-radius: 50%;
  width: 100%;
  margin: auto;
  aspect-ratio: 1/1;
  object-fit: cover;  /* 이미지가 비율에 맞게 꽉 채워지도록 설정 */
}

.opponent-chat {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  gap: 5px;
}

.chat-time {
  font-size: 11px;
  color: rgba(0,0,0, 0.4);
  margin: 0;
  align-content: end;
  margin-left: 5px;
  display: none;
  visibility: hidden;
}

.my-chat-time {
  font-size: 11px;
  color: rgba(0,0,0, 0.4);
  margin: 0;
  align-content: end;
  margin-right: 5px;
  display: none;
  visibility: hidden;
}

.chat-start-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.chat-start-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.chat-start-name {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show {
  display: block;
  visibility: visible;
}

.visible {
  visibility: visible;
  display: block;
}
